
//******* Home *******

.home-bgImg-container {
    // background-image: url("../../img/model-1.jpg");
    // height: 100vh;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;

    @include bgImage(100vh, $main-bgImage-path);
}

.home {
    // border: 1px solid red;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    // align-items: center;

    &__name {
        font-size: 5rem;
        padding: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid #fff;
        
        &--last {
            color: red;
            font-weight: 700;
        }
    }
}